<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLServerConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ResourceDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="MongoConnection" connectionString="mongodb://localhost:27017/ResourceDB"/>
  </connectionStrings>
</configuration>